<app-header></app-header>
<section id="userDetailpage">
    <div class="userMenu">
        <div class="laporanTitle">
            <h4><b>Laporan</b></h4>
            <h6>{{currentDate | date: 'EEEE , dd MMMM yyyy'}}</h6>
        </div>
        <div >
            <div *ngFor =" let title of loadedData.titleData ; let i = index" class="detailbox {{class[i].class}}" (click)="chooseData(i)">
                <div class="titletext">
                     <b><span>{{title.project_name | titlecase}}</span></b>
                </div>
                <div class="job">
                     <span>{{title.role_name}}</span>
                 </div>
                 <div class="alrentjob">
                     <span>kamu sudah melakukan {{title.total_task}} pekerjaan pada project ini</span>
                 </div>
            </div>
        </div>
            <!-- <button class="submitLaporan deactive" *ngIf="!projectName || !roleName"><b>Kumpul Laporan</b></button> -->
            <button (click)="submitLaporan()" class="submitLaporan"><b>Kumpul Laporan</b></button>
    </div>
    <div class="userKonten">
        <div class="userKontenHeader">
            <div class="projectInfo">
                <h5>{{projectName}}</h5>
                <h6>{{roleName}}</h6>
            </div>
        </div>
        <div *ngFor ="let o of loadedData.data[activeData]" class="formProject">
            <form> 
                <textarea placeholder="Progress Name" (change)="addNama(activeData, o.task_id, $event)" class="progressName">{{o.task_name}}</textarea>
                <textarea placeholder="Progress Description" (change)="addDescription(activeData, o.task_id , $event)" class="progressInfo" >{{o.task_description}}</textarea>
                <div class="progressSlider">
                <input class="slider" type="range" min="0%" max="100%" value="{{o.progress}}" (change)="addProgress(activeData, o.task_id , $event)">
                <input class="range" type="text" value="{{o.progress}}" (change)="addProgress(activeData, o.task_id , $event)">
            </div>
            </form>
        </div>
    </div>
</section>

