
    <div id="mtambahBody" class="modal-body mBody">
        <div id="texttambah">
                <span>Tambah {{title | titlecase}}</span>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="buttonedite">
            <div>
                <form [formGroup]="newData">
                <input name="userName" type="text" formControlName="name" placeholder="Nama {{title}}" class="formInput">
                <input *ngIf="title === 'User'" formControlName="email"name="email" type="email" placeholder="E-mail User" class="formInput">
                </form>
            </div>
            <button (click)="onClick()" type="button" class="btn ctaBtnx">Tambah {{title}}</button>
    </div>   
    </div>

