<section id="loginPage">
        <div class="loginBox">
            <div class="loginHeader">
                <b><span>Progress Tracker</span></b><span class="logo"> &#8814;</span><span>></span>
            </div>
            <div class="loginBody">
                    <span>Halo Admin !</span>
                    <div >
                        <form [formGroup]="loginForm">
                            <input type="text" class="formInput" formControlName = "userName" placeholder="username">
                            <input  type="password"  formControlName = "userPassword" class="formInput" placeholder="password">
                            <label class="wrong" *ngIf="isLoginErr">User / Password Anda Salah</label>
                        </form>
                    </div>
                    <button (click)="onClick()" type="button" class="btn ctaBtn">Masuk</button>
            </div>
        </div>
</section>
