@import '../../sass/styles.scss';

#loginPage{
  background-color: $black;
  width: 100%;
  height: 100%;
  .loginBox{
    position: absolute;
    transform : translate(-50%, -50%);
    width: 340px;
    height: 342px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding: 15px 24px 15px 24px;
    box-shadow: 0px 0px 5px 0px $gray;
    .loginHeader{
      text-align: center;
      font-size: 15px;
      margin: 15px 0 30px 0;
      .logo{
        font-weight: bold;
        color: $lightBlue
      }
    }
    .loginBody{
      .role{
        border: none;
      }
      .formInput{
        width: 100%;
        margin: 25px 0 0 0;
        border-radius: 5px;
        padding: 0 0 0 10px;
        border: solid $gray 1px;
      }
      .wrong{
        color: $warning;
      }
      .ctaBtn{
        width: 100%;
        margin: 35px 0 0 0;
      }
    }
  }

}
