@import './variables';
@import './mixins';
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

.ctaBtn{
    border-radius: 50px;
    background-image: linear-gradient(to right, $activeBlue, $lightBlue);
    color: $white;
    font-weight: bold;
    border: none;
  }
.ctaBtn:hover{
  color: darken($white, 10%);
}

link{
  cursor: pointer;
}