<app-header></app-header>
<section *ngIf = "titleData" id="userReportpage">
        <div class="userMenu">
            <div class="laporanTitle">
                <h4><b>Laporan</b></h4>
                <h6>{{currentDate | date: 'EEEE , dd MMMM yyyy'}}</h6>
            </div>
        <div *ngFor =" let title of titleData; let i = index" class="detailbox {{class[i].class}}" (click)="chooseData(title, i)">
            <div class="titletext">
                 <b><span>{{title.project_name | titlecase}}</span></b>
            </div>
            <div class="job">
                 <span>{{title.role_name}}</span>
             </div>
             <div class="alrentjob">
                 <span>kamu sudah melakukan {{title.total_task}} pekerjaan pada project ini</span>
             </div>
        </div>

   <button class="ctaBtn EditLaporan" (click)="edit()">Edit Laporan</button>
</div>
<div *ngIf="data" class="userKonten">
    <div class="userKontenHeader">
        <div class="projectInfo">
            <h5>{{projectName}}</h5>
            <h6>{{roleName}}</h6>
        </div>
    </div>
    <div *ngFor="let kerja of data" class="kontenData">
        <div class="innerTitle"><div class="innerText"><b>{{kerja.task_name}}</b></div><div class="prog">{{kerja.progress}}%</div></div>
        <div>{{kerja.task_description}}</div>
    </div>
</div>
</section>