@import '../../../sass/styles.scss';
#userReportpage{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow-y: hidden;
    .userMenu{
        float:left;
        width: 450px;
        padding: 0 40px 0 40px;
        margin: 32px 0 32px 0;
        min-height: 80vh;
        border-right: solid darken($primaryBgColor, 10%) 1px;
        .laporanTitle{
            color : $activeBlue;
            width: 370px;
            height: 108px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            padding:24px 24px 0 24px;
            margin: 0 0 24px 0;
        }
        .detailbox{
            width: 370px;
            height: 130px;
            background-color: $white;
            border-radius: 5px;
            
            padding:24px 24px 0 24px;
            margin: 0 0 24px 0;
            .img{
                padding:0 10px 0 0;
            }
            .titletext{
                color:$black;
                line-height: 18px;
                font-size:18px;
            }
            .job{
                color: $gray;
                font-size: 16px;
                line-height: 40px
            }
            .alrentjob{
                color:$activeBlue;
                font-size: 14px;
            }
        }
        .deactivate{
            box-shadow: 0px 0px 5px 0px $gray;
        }
        .activate{
            box-shadow: 0px 0px 10px 0px $activeBlue;
        }
        .ctaBtn{
            width: 450px;
            background: transparent;
            color: $activeBlue;
            border-radius: 50px;
            border: solid $activeBlue 1px;
        }
        .EditLaporan{
            width: 370px;
            height: 35px;
            margin: 300px 0 0 0;
        }
        .SimpanLaporan{
            @extend .EditLaporan;
            margin: 20px 0 0 0;
            border: solid $sucess 2px;
            background-color: $sucess;
            color: $white;
        }
     }
     .userKonten{
        float:left;
        margin: 0 0 0 30px;
        width: 65%;
        padding: 40px 40px 0 40px;
        .userKontenHeader{
            width: 100%;
            float: left;
            margin: 0 16px 32px 0;
        }
        .projectInfo{
            float: left;
            h6{
                color: $gray;
            }
        }
        .kontenData{
            float: left;
            color : $black;
            width: 356px;
            height: 98px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            padding:24px 24px 24px 24px;
            margin: 0 36px 24px 0;
            .innerTitle{
                width: 100%;
                .innerText{
                    float:left;
                    width: 85%;
                }
                .prog{
                    width: 15%;
                    color: $activeBlue;
                    float: left;
                }
            }
        }
    }
}