@import '../../../sass/styles.scss';

#mediteBody{ 
    font-size: 20px;
    padding: 25px 25px 25px 25px;
    width: 100%;
    .textedite{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    .close{
      float: right;
    }
    }
    .buttonedite{
        border: none;
    .formInput{
        width: 445px;
        height:50px;
        margin: 25px 0 0 0;
        border-radius: 5px;
        padding: 0 0 0 10px;
        border: solid $gray 1px;
      }
      .ctaBtnx{
        margin: 25px 0 0 0;
        border-radius: 50px;
        font-size: 20px;
        border: none;
        background-image: linear-gradient(to right, $sucess,  $sucess);
        color: $white;
        font-weight: bold;
        height:50px;
        width: 445px;
    }
    .ctaBtnx1{
        @extend .ctaBtnx;
        color: $warning;
        background-image: none;
    }
    .ctaBtnx:hover{
      color: darken($white, 10%);
    }
 }
}