
    <div id="mediteBody" class="modal-body mBody">
        <div id="textedite">
                <span>Edit {{title | titlecase}}</span>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
            <div class="buttonedite">
                <div>
                    <form [formGroup]="editForm">
                        <input name="userName" formControlName="newName" type="text" placeholder="Nama {{title | titlecase}}" value="{{data.title}}" class="formInput">
                        <input *ngIf="title === 'User'"  formControlName="newEmail" name="email" type="email" placeholder="E-mail {{title | titlecase}}" value="{{data.email}}" class="formInput">
                    </form>
                </div>
                        <button (click)="editItem()" type="button" class="btn ctaBtnx">Simpan</button>
                        <button type="button" class="btn ctaBtnx1">Delete {{title | titlecase}}</button>
            </div>   
    </div>