<app-header></app-header>
<section id="detailPage">
    <div class="upperMenu">
        <div class="projectName">
            {{pageTitle}}
        </div>
        <div class="inLine">
            <hr>
        </div>
        <form [formGroup]="formTanggal">
        <div class="tanggalDari">
            <span>Dari : </span>
            <input formControlName="tanggalDari" class="form-control datepicker" name="dp1" ngbDatepicker #d1="ngbDatepicker">
            <button class="calendar btndari" (click)="d1.toggle()" type="button"><span class="fa fa-chevron-down"></span></button>
        </div>
        <div class="tanggalKe">
            <span>Hingga :</span>
            <input formControlName="tanggalKe" class="form-control datepicker" name="dp2" ngbDatepicker #d2="ngbDatepicker">
            <button class="calendar btndari" (click)="d2.toggle()" type="button"><span class="fa fa-chevron-down"></span></button>
        </div>
        <div (click)="exportCsv()"class="export ctaBtn">
            <p>Export CSV</p>
        </div>
        </form>

    </div>
    <div class="konten container-fluid">
            <div class="row">
                <div class="item" *ngFor="let card of data" [routerLink]="[card.cardDate]">
                        <div class="text">
                            <span><b>{{card.cardTitle}}</b></span>
                        </div>
                        <hr>
                        <div class="cardList">
                            <span>{{card.cardList[0]}}</span>
                        </div>
                        <div class="cardList">
                            <span>{{card.cardList[1]}}</span>
                        </div>
                        <div class="cardList">
                            <span>{{card.cardList[2]}}</span>
                        </div>
                        <div *ngIf = "card.cardList.length > 3" class="itemSum">
                            <span> +{{card.cardList.length}} Role Lainnya</span>
                        </div>
                </div>
            </div>
        </div>
</section>