@import '../../../sass/styles.scss';
@import '../../../sass/styles.scss';

#detailPage{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow: auto;
    .upperMenu{
        padding: 32px 40px 32px 40px;
        width: 100%;
        overflow: hidden;
        height: 112px;
        .projectName{
            width: 166px;
            height: 20px;
            overflow: hidden;
            float: left;
        }
        .inLine{
            float: left;
            width: 150px;
            @include breakpoint (tablet){
                display: none;
            }
        }
        .tanggalDari{
            width: 210px;
            float: left;
            overflow: hidden;
            span{
                float:left;
                margin: 0 0 0 20px ;
            }
            .datepicker{
                border: none;
                margin: 5px 0 0 0;
                width: 110px;
                overflow: hidden;
                height: 20px;
                float: left;
            }
            .btndari{
                margin: 4px 8px 0 -15px;
                padding: 0 0 0 0;
                border: none;
                background: none;
                width: 20px;
                height: 20px;
                float:left;
                color: $gray;
            }
            .btndari:hover{
                border:none;
                color: $activeBlue;
            }

        }
        .tanggalKe{
            @extend.tanggalDari
        }
        .export{
            cursor: pointer;
            height: 32px;
            width: 170px;
            text-align: center;
            overflow: hidden;
            float: right;
            background: transparent;
            border: solid 1px $activeBlue;
            color: $activeBlue;
          } 
     }
     
    .konten{
        z-index: 0;
        width: 100%;
        padding: 0 40px 0 40px;
        .item{
            box-shadow: 0px 0px 5px 0px $activeBlue;
            height: 200px;
            width: 276px;
            padding: 16px;
            margin: 16px;
            border-radius: 5px;
            .cardList{
                height: 18px;
                width: 218px;
                margin: 12px 0 12px 0;
            }
        }
    }


}