@import '../../../sass/styles.scss';
#mDeleteBody{ 
    padding: 0 25px 50px ;
        .textalrent{
            font-style: normal;
            text-align: center;
            margin: 10px 0 50px 0;
            font-size: 20px;
        }
        .image{
            margin: 25px 0 0 0;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .ctaBtnalrent{
            margin: 0 0 12px 0;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 50px;
            font-size: 20px;
            border: solid $sucess 2px;
            background-image: none;
            color: $sucess;
            font-weight: bold;
            height:50px;
            width: 445px;
        }
        .ctaBtnalrent1{
            @extend .ctaBtnalrent;
            border: none;
            color: $white;
            background-image: linear-gradient(to right, $warning,  $warning);
        }  
    }