
    <div id="mDeleteBody" class="modal-body mBody">
        <div>
                <img  class="image" src="../../../assets/group.png">
        </div>
        <div class="textalrent">
            <div>
            <span>Halo, Admin</span>          
            </div>
            <div>
            <span>Apakah kamu yakin ingin</span>
            </div>
            <div>
            <span><b>Menghapus</b> {{data.title | titlecase}} ?</span>
            </div>
        </div>
            <button type="button"  (click)="close()" class="btn ctaBtnalrent">Gajadi hapus deh</button>
            <button data-dismiss="modal" type="button"  (click)="delete(data)"class="btn ctaBtnalrent1">Hapus aja gapapa</button>
    </div>
