@import '../../../sass/styles.scss';

#navigation{
    float: left;
    width: 100%;
    height: 60px;
    background: $white;
    box-shadow: 0px 0px 5px 0px $gray;
    .appLogo{
        cursor: pointer;
        float: left;
        margin: 15px 0 15px 40px;
        height: 60px;
        .logo{
            font-weight: bold;
            color: $lightBlue
          }
    }
    .userAccount{
        float: right;
        margin: 15px 70px 15px 0;
        height: 60px;
        .dropDownbtn{
            color: $lightBlue;
            padding: 25px 0 0 0;
        }
        .dataDropdown{
            color: $warning;
            margin: 23px 0 0 0;
        }
    }
}