<nav id="navigation">
    <div (click)="goback()" class="appLogo">
            <b><span >Progress Tracker</span></b><span class="logo"> &#8814;</span><span>></span>
    </div>
    <div ngbDropdown class="userAccount">
        <span>Halo, </span><b><span> {{this.userData.id[0].name | titlecase}}</span></b><span ngbDropdownToggle class="dropDownbtn"></span>
        <div ngbDropdownMenu class="dataDropdown">
            <a class="link" (click)="leave()" ngbDropdownItem >Log Out </a>
        </div>
    </div>
</nav>
