

<div id="mlupapasswordBody" class="modal-body mBody">
        <div id="texttambah">
                <span>Forget Passowrd</span>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="buttonedite">
            <div>
                <form [formGroup]="forgetPassword">
                <input type="text" name ="email" formControlName="email" placeholder="Masukan Email Anda Disini" class="formInput">
                </form>
            </div>
            <button (click)="onClick()" type="button" class="btn ctaBtnx">Kirim</button>
    </div>   
    </div>