@import '../../../sass/styles.scss';
#mainPage{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow-y: hidden;
    .upperMenu{
        width: 100%;
        height: 112px;
        .leftUpperMenu{
            float:left;
            .ctaBtn{
                border-radius: 50px 0 0 50px;
                width:150px;
                height: 48px;
                margin: 32px 0 32px 40px;
                float: left;
                padding: 10px 0 0 0;
                text-align: center;
            }
            .dropDownBtn{
                float:left;
                color: $white;
                background-color: $lightBlue;
                height: 48px;
                width: 40px;
                border-left: none;
                margin: 32px 0 32px 0;
                border-radius: 0 50px 50px 0;
                border: none;
            }
            .searchBox{
                float: left;
                height: 28px;
                width: 125px;
                border: none;
                margin: 20px 0 0 20px;
                background-color: $primaryBgColor;
            }
            #projectDropdown{
                z-index: -1;
                position: relative;
                margin: -25px 0 0 -130px;
                transform: translate(-50%, 0);
                padding: 30px 0 15px 0;
                width: 25px;
            }
            .inLine{
                float: left;
                width: 300px;
                margin: 42px 0 0 0 ;
                @include breakpoint (tablet){
                   display: none;
                }
            }
        }
        .rightUpperMenu{
            float:right;
            margin: 0 auto 0 auto;
            .csvBtn{
                float:right;
                border: solid $lightBlue 1px;
                background-image: none;
                color: $lightBlue;
                width: 216px;
                height: 32px;
                margin: 40px 0 40px 20px;
                padding: 0 0 5px 0;
                @include breakpoint (tablet){
                    width: 166px;
                    margin: 40px 0 40px 10px;
                 }
            }
            .addBtn{
                float:right;
                width: 292px;
                height: 32px;
                margin: 40px 0 40px 20px;
                padding: 0 0 5px 0;
                @include breakpoint (tablet){
                    width: 202px;
                    margin: 40px 0 40px 10px;
                 }
            }
        }
    }
    .dataKonten{
        z-index: -2;
        float: left;
        position: relative;
        padding: 0 60px 0 75px;
        .item{
            margin: 0 16px 32px 16px;
            background-color: $white;
            box-shadow: 0px 0px 5px 0px $gray;
            border-radius: 5px
        }
        .dataItem{
            width: 276px;
            .text{
                float:left;
                padding: 12px 15px 0 30px;
                height: 52px;
                width: 226px;
            }
            .dropDownBtn{
                float:left;
                color: $lightBlue;
                height: 52px;
                width: 50px;
                border: none;
                background-color: transparent;
            }
            .dataDropdown{
                width: 276px;
                position: absolute; 
                margin: 0 0 0 -226px;
            }
            .edit{
                color: $activeBlue;
            }
            .delete{
                color: $warning;
            }
        }
    }
}

    