<app-header></app-header>
<section id="mainPage">
    <div class="upperMenu container-fluid">
        <div class="row">
            <div ngbDropdown class="leftUpperMenu">
                <div class="ctaBtn">
                    <span>
                        {{pageSlug | titlecase}}
                    </span>
                </div>
                <button ngbDropdownToggle class="dropDownBtn">
                </button>
                <div ngbDropdownMenu id="projectDropdown">
                    <a class="link" (click)="onClick(dropMenu1)" ngbDropdownItem>{{dropMenu1 | titlecase}}</a>
                    <a class="link" (click)="onClick(dropMenu2)" ngbDropdownItem>{{dropMenu2 | titlecase}}</a>
                </div>
                <form [formGroup]="searchForm" class="searchBox">
                    <input formControlName="searchBox" type="text" placeholder="Cari {{pageSlug | titlecase}}" class="searchBox">
                </form>
                    <div class="inLine">
                    <hr>
                </div>
            </div>
            <div class="rightUpperMenu">
                <button type ="button" (click)="open(contentAdd)" class="btn ctaBtn addBtn">+Tambah {{pageSlug | titlecase}}</button>
                <button type="button" class="btn ctaBtn csvBtn" (click)="exportCSV()">Export Csv</button>
            </div>
        </div>
    </div>
    <div class="dataKonten container-fluid">
        <div class="row">
            <div class="item" *ngFor="let data of data">
                <div ngbDropdown class="dataItem">
                    <div class="text">
                        <span>{{data.title}}</span>
                    </div>
                    <button ngbDropdownToggle class="dropDownBtn">
                    </button>
                    <div ngbDropdownMenu class="dataDropdown">
                        <a class="link" [routerLink]="['./'+data.id]" ngbDropdownItem >Lihat Detail {{pageInfo | titlecase}}</a>
                        <a class="link" (click)="open(contentEdit)" class="edit" ngbDropdownItem >Edit {{pageInfo | titlecase}}</a>
                        <a class="link" (click)="open(contentDelete)"class="delete" ngbDropdownItem >Delete {{pageInfo | titlecase}}</a>
                    </div>
                </div>
                <ng-template #contentDelete let-modal>
                    <app-delete-modal [title]="pageThrow" [data]="data"></app-delete-modal>
                </ng-template>
                <ng-template #contentEdit let-modal>
                    <app-edit-modal [title]="pageThrow" [data]="data"></app-edit-modal>
                </ng-template>
            </div>
        </div>
    </div>
</section>
<ng-template #contentAdd let-modal>
    <app-add-modal [title]="pageThrow"></app-add-modal>
</ng-template>
