<section id="user-loginPage">
    <div class="loginBox">
        <div class="titleText">
            <h2>Progress Tracker</h2>
            <h2>Codify</h2>
        </div>
        <form [formGroup]="loginForm" class="inputBox">
            <div class="text">
                <span>Masukin username dan password kamu</span>
            </div>
            <div>
                <input formControlName="userName" type="text" class="formInput {{isLoginErr}}"  placeholder="Username">
                <input formControlName="userPassword" type="password"  class="formInput {{isLoginErr}}" placeholder="Password">
                <label class="wrong" *ngIf="isLoginErr">User / Password Anda Salah</label>
            </div>
            <div class="submitBox">
                <span (click)="open(forgetpassword)" class="forgetPass link">Lupa Password</span>
                <button (click)="onClick()" type="button" class="btn ctaBtn">Masuk</button>
            </div>
        </form>
    </div>
</section>
<ng-template #forgetpassword let-modal>
    <app-forget-password></app-forget-password>  
</ng-template>


