@import '/../../sass/styles.scss';

#user-loginPage{
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/Background.png');
    background-size: 100%;
    padding: 200px 0 0 192px;
    .loginBox{
        height: 320px;
        width: 340px;
        .titleText{
            color: $activeBlue;
            font-weight: bold;
        }
        .inputBox{
            .text{
                margin: 32px 0 0 0 ;
                font-weight: bold;
            }
            .formInput{
                width: 340px;
                height: 40px;
                box-shadow: 0px 0px 5px 0px $gray;
                border: none;
                margin: 16px 0 16px 0;
                border-radius: 5px;
                padding: 11px 16px 11px 16px;
            }
            .true{
              box-shadow: 0px 0px 5px 0px $warning;
            }
            .submitBox{
                margin: 35px 0 0 0;
                .forgetPass{
                  cursor: pointer;
                  color: $activeBlue;
                  float: left;
                  padding: 8px 0 0 0;
                }
                .ctaBtn{
                    float: right;
                    width: 140px;
                    height: 40px;
                }
              }
        }
    }

}
