<app-header></app-header>
<section *ngIf="reportDetailData" id="userDetailpage">
        <div class="userMenu">
            <div class="laporanTitle">
                <h4><b>{{pageTitle}}</b></h4>
                <h6>{{pageDate | date: 'EEEE , dd MMMM yyyy'}}</h6>
            </div>
            <div *ngIf="roleData">
                <div class="laporanMenu {{class[i].class}}" *ngFor="let o of roleData ; let i = index" (click)="chooseRole(i)">
                    <div class="innerText"><b>{{o.name}}</b></div>
                    <div class="innerText">{{o.project_name}}</div>
                    <div class="innerjobText">Ada {{o.total_task}} Pekerjaan pada Project ini</div>
                </div>
            </div>
            <div *ngIf="userData">
                <div class="laporanMenu {{class[i].class}}" *ngFor="let o of userData ; let i = index" (click)="chooseUser(i)">
                    <div class="innerText"><b>{{o.project_name}}</b></div>
                    <div class="innerText">{{o.role_name}}</div>
                    <div class="innerjobText">Ada {{o.total_task}} Pekerjaan pada Project ini</div>
                </div>
            </div>
            <div *ngIf="projectData ">
                <div class="laporanMenu {{class[i].class}}" *ngFor="let o of projectData ;let i = index" (click)="chooseProject(i)">
                    <div class="innerText"><b>{{o.role_name}}</b></div>
                    <div class="innerText">{{o.name}}</div>
                    <div class="innerjobText">Ada {{o.total_task}} Pekerjaan pada Project ini</div>
                </div>
            </div>
            <button (click)="deleteReport()" class="submitLaporan"><b>Hapus Laporan</b></button>
            <button (click)="exportCSV()" class="export"><b>Export Csv</b></button>
            <button (click)="navigate()" class="navigate"><b>Tutup</b></button>
        </div>
        <div *ngIf="reportDetailData" class="userKonten">
            <div *ngFor="let o of reportDetailData" class="kontenData">
                <div class="innerTitle"><div class="innerText"><b>{{o.task_name}}</b></div><div class="prog">{{o.progress}}%</div></div>
                <div>{{o.task_description}}</div>
            </div>
        </div>
    </section>
    
