@import '../../../sass/styles.scss';

#userDetailpage{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow-y: hidden;
    .userMenu{
        float:left;
        width: 32%;
        padding: 0 40px 0 40px;
        margin: 32px 0 32px 0;
        min-height: 80vh;
        border-right: solid darken($primaryBgColor, 10%) 1px;
        .laporanTitle{
            color : $activeBlue;
            width: 356px;
            height: 108px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            padding:24px 24px 24px 24px;
            margin: 0 0 24px 0;
        }
        .laporanMenu{
            @extend .laporanTitle;
            padding: 12px 24px 12px 24px;
            height: 120px;
            color: $black;
            .innerText{
                margin: 0 0 5px 0;
            }
            .innerJobText{
                @extend .innerText;
                color : $activeBlue;
                font-size: 12px;
            }
        }
        .activate{
            box-shadow: 0px 0px 10px 0px $activeBlue;
        }
        .deactivate{
            box-shadow: 0px 0px 5px 0px $gray;
        }
        .submitLaporan{
            width: 88%;
            height: 35px;
            margin: 50px 0 0 0;
            border-radius: 50px;
            background: none;
            color:$warning;
            border: none;
        }
        .export {
            @extend .submitLaporan;
            margin: 10px 0 0 0;
            background: none;
            color: $activeBlue;
            border: solid $activeBlue 1px;
        }
        .navigate {
            @extend .submitLaporan;
            margin: 10px 0 0 0;
            background: $sucess;
            color: $white;
            border: solid $sucess 1px;
        }
    }
    .userKonten{
        float:left;
        margin: 0 0 0 30px;
        width: 65%;
        padding: 40px 40px 0 40px;
        .kontenData{
            float: left;
            color : $black;
            width: 356px;
            height: 98px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            padding:24px 24px 24px 24px;
            margin: 0 36px 24px 0;
            .innerTitle{
                width: 100%;
                .innerText{
                    float:left;
                    width: 85%;
                }
                .prog{
                    width: 15%;
                    color: $activeBlue;
                    float: left;
                }
            }
        }
    }
}