<app-header></app-header>
<section id="userDashboard" *ngIf = "data">
    <div class="headerContent">
        <select [disabled]="berdasarkan != 'Waktu'" class="form-control" (change)="changeBulan($event)">
            <option hidden selected>Bulan</option>
            <option *ngFor="let month of bulan" value="{{month.value}}" >{{month.nama}}</option>
        </select>
        <select [disabled]="berdasarkan != 'Waktu'" class="form-control" (change)="changeTahun($event)">
            <option hidden selected>Tahun</option>
            <option *ngFor="let year of tahun" value="{{year.nama}}">{{year.nama}}</option>    
        </select>
        <div class="cariLaporan">
            <span class="icon">
                <img class="icon" src="../../../assets/search.png">
            </span>
            <input [disabled]="berdasarkan != 'Proyek'" (change)="searchProyek($event)" class="inputLaporan" type="text" placeholder="Cari Laporan">
        </div>

        <div class="sortLaporan">
            <div class="laporanInfo">
                <div ngbDropdown>
                <span>Berdasarkan : </span>
                    <select class="inputZone form-control" (change)="changeBerdasarkan($event)">
                            <option hidden selected> Waktu / Proyek</option>
                            <option value="Waktu" >Waktu</option>
                            <option value="Proyek" >Proyek</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="hariKosong > 0"class="alerentProject">
        <div class="alerentprojectharian">
            <b>
                <p>Ada {{hariKosong}} hari yang belom Terisi nih!</p>
            </b>
        </div>
    </div>
    <div class="dataContent">
        <div class="userMenu">
            <div class="buttonAlign">
                <button (click)="onClick(slugDate)" class="ctaBtn2 EditLaporan2"><b>
                    <img class="image" src="../../../assets/plus-circle.png"> Laporkan Progres Kamu</b></button>
            </div>
        </div>
        <div *ngFor = "let card of data.slice(0, jumlahData)">
        <div *ngIf="card.status == 'full' && card.haveReason == false" class="userMenu">
            <div class="laporanTitle">
                <b><span>{{card.cardTitle}}</span></b>
                <div class="inline">
                    <hr>
                </div>
                <div class="cardInnards">
                    <div *ngFor="let cardBody of card.cardBody.slice(0, 2)">
                        <div class="titletext">
                            <b><span>{{cardBody.projectName}}</span></b>
                        </div>
                        <div class="job">
                            <span>{{cardBody.roleName}}</span>
                        </div>
                        <div *ngIf="cardBody.taskName">
                        <div *ngFor="let text of cardBody.taskName.slice(0, 3)" class="text">
                            <span>{{text}}</span><span></span>
                        </div>
                        </div>
                        <div *ngIf="cardBody.taskName.length > 3" class="alrentjob">
                            <span>+ {{cardBody.taskName.length - 3}} Pekerjaan Lainnya</span>
                        </div>
                        <div class="inline">
                            <hr>
                        </div>
                    </div>
                    <div *ngIf="card.cardBody.length > 2"class="Project">
                        <b><span>+ {{card.cardBody.length - 2}} Project lainnya</span></b>
                    </div>
                </div>
                <div>
                <button (click)="detail(card.cardDate)" class="ctaBtn EditLaporan">Lihat isinya dong</button>
                </div>
            </div>
        </div>
            <div *ngIf="card.status == 'full' && card.haveReason == true" class="userMenu">
                    <div class="laporanTitle">
                            <b><span>{{card.cardTitle}}</span></b>
                            <div class="inline">
                                <hr>
                            </div>
                        <div class="sakit">
                        <h3  class="text">Sakit / Cuti</h3>
                        </div>
                    </div>
                    
            </div>
            <div *ngIf="card.status == 'empty' && card.haveReason == false" class="userMenu">
                    <div class="laporanTitle">
                            <b><span>{{card.cardTitle}}</span></b>
                            <div class="inline">
                                <hr>
                            </div>
                        <div class="tidakalasan">
                            <h3 class="text">Tidak Ada Alasan</h3>
                        </div>
                        <div class="tidakLaporanZone">
                            <button (click)="addReason(card.cardDate)"class="ctaBtn tidakLaporan">Aku Kemarin Sakit/Cuti Nih</button>
                            <button (click)="onClick(card.cardDate)" class="ctaBtn tidakisiLaporan">Isi Laporan</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div *ngIf ="data.length > 3" class="buttonLebih">
        <button class="datalebih" (click)="toggle()" id="button">
            <b>lihat lebih banyak</b>
            </button>
    </div>
</section>