@import '../../../sass/styles.scss';

#userDashboard{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow-y: hidden;
    .headerContent{
        height: 120px;
        padding: 32px 0 0 24px;
        .monthPicker{
                width: 210px;
                float: left;
                overflow: hidden;
                span{
                    float:left;
                    margin: 0 0 0 20px ;
                }
                .datepicker{
                    border: $primaryBgColor;
                    color:$buttonBlue;
                    background-color: $primaryBgColor;
                    margin: 5px 0 0 0;
                    width: 150px;
                    font-weight: bold;
                    overflow: hidden;
                    height: 20px;
                    float: left;
                }
                ::-webkit-input-placeholder{
                    color:$buttonBlue;
                    font-weight: bold;
                }   
                .btndari{
                    margin: 4px 8px 0 -15px;
                    padding: 0 0 0 0;
                    border: none;
                    background: none;
                    width: 20px;
                    height: 20px;
                    float:left;
                    color: $buttonBlue;
                }
                .btndari:hover{
                    border:none;
                    color: $buttonBlue;
                }
    
            }
        .cariLaporan{
            float: left;
            padding: 0 0 0 30px;
            .inputLaporan{
                background-color: $primaryBgColor;
                border: none;
                
            }
        }
        .inLine{
            float: left;
            width: 950px;
            @include breakpoint (tablet){
                display: none;
            }
        }
        .sortLaporan{
            float: left;
            .laporanInfo{
                width: 250px;
                float: left;
                .inputZone{
                    float: right;
                    width: 150px;
                }
            }
            .dropBtn{
                border: none;
                margin: 0px -100px 0px 0px;
                color: $primaryBgColor;
            }
            .dropMenu{
                width: 100px;
                float: left;
                border: none;
            }
            
        }
    }

   .alerentProject{
        width: 320px;
        height: 40px;
        margin: -40px 0 0 1090px;
        border:solid yellow 2px;
        background-color: yellow;  
        .alerentprojectharian{
            padding: 5px 40px 40px 50px;
            font-size: 13px;
        }
    }
    .dataContent{
        width: 100vw;
        .userMenu2{
            float:left;
            width: 350px;
            padding: 0 40px 0 40px;
            margin: 32px 0 32px 0;
            min-height: 80vh; 
            .laporanTitle2{
                color : $gray;
                width: 320px;
                height: 620px;
                border: solid $warning 2px;
                background-color: $white;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px $gray;
                padding:24px 24px 0 24px;
                margin: 0 0 24px 0;
            }
            .ctaBtn{
                width: 450px;
                background: transparent;
                color: $activeBlue;
                border-radius: 50px;
                border: solid $activeBlue 1px;
            }
            .ctaBtn3{
                width: 450px;
                background: transparent;
                color: $warning;
                border-radius: 50px;
                border: solid $warning 1px;
            }
            .isiLaporan{
                width: 270px;
                height: 35px;
                margin: 30px 0 0 0;
            }
            .catatanLaporan{
                width: 270px;
                height: 35px;
                margin: 200px 0 0 0;
            }
            .alernttext{
                padding: 150px 0 0 0;
                 text-align: center;
                   color:$warning;
              }
        }
        .userMenu{
            float:left;
            width: 350px;
            padding: 0 40px 0 40px;
            margin: 32px 0 32px 0;
            min-height: 80vh;
            .laporanTitle{
                color : $activeBlue;
                width: 320px;
                height: 620px;
                background-color: $white;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px $gray;
                padding:24px 24px 0 24px;
                margin: 0 0 24px 0;
                .cardInnards{
                    width: 100%;
                    height: 480px;
                }
                .tidakalasan{
                    width: 100%;
                    height: 430px;
                    .text{
                        position: relative;
                        transform: translate(-50%, 0);
                        top: 40%;
                        left: 60%;
                        align-content: center;
                    }
                }
                .tidakLaporanZone{
                    transform:translate(0, 0);
                    .tidakLaporan{
                        @extend .EditLaporan;
                        margin: 0 25px 15px 0;
                        color: ligthen($activeBlue, 50%);
                        border-radius: 50px;
                        border: solid ligthen($activeBlue, 50%) 1px;
                    }
                    .tidakisiLaporan{
                        @extend .tidakLaporan;
                        color: $warning;
                        border-radius: 50px;
                        border: solid $warning 1px;
                    }
                }
                .sakit{
                    @extend .tidakalasan;
                    left: 75%;
                    .text{
                        margin: 0 0 0 25px;
                    }
                }
            }
            .ctaBtn{
                width: 450px;
                background: transparent;
                color: $activeBlue;
                border-radius: 50px;
                border: solid $activeBlue 1px;
            }
            .EditLaporan{
                width: 270px;
                height: 35px;
                float: left;
            }
            
            .titletext{
                color:black;
            }
            .job{
                color:$gray;
                margin: 0 0 10px 0;
            }
            .text{
                @extend .titletext;
                margin: 0 0 10px 0;
            }
            .textdetail{
                @extend .titletext;
                margin: 0 0 10px 0;
            }
            .alrentjob{
                @extend .titletext;
                margin: 0 0 10px 0;
            }
            .Project{
                @extend .titletext;
            }
            .buttonAlign{
                width: 320px;
                height: 620px;
                border-radius: 6px;
                border:dashed $gray 2px;  
            .ctaBtn2{
                width: 450px;
                background: $activeBlue;
                color: white;
                border-radius: 50px;
                border: solid $activeBlue 1px;
            }
            .EditLaporan2{
                width: 270px;
                height: 35px;
                margin: 300px 0 25px 25px;
                 }
              }
         }
    } 
 }
    .form-control{
        float: left;
        width: 150px;
    }
    .buttonLebih{
        float:left;
        min-width: 100vw;
    .datalebih{
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
        width:200px;
        border: solid $activeBlue 1px;
        color:$activeBlue;
        border-radius: 10px;
        background: transparent;
        margin : 0px 20px 50px 20px;
        }
    }
        .inline2{
            float: left;
            width:px;
            padding: 0px 0px 0px 20px;
            @include breakpoint (tablet){
                display: none;
            }  
        } 
        .inline3{
            float: right;
            width: 600px;
            margin: 0  75px  0  0; 
    }
     