@import '../../../sass/styles.scss';

#userDetailpage{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 0 0 0;
    background-color: $primaryBgColor;
    overflow-y: hidden;
    .userMenu{
        float:left;
        width: 32%;
        padding: 0 40px 0 40px;
        margin: 32px 0 32px 0;
        min-height: 80vh;
        border-right: solid darken($primaryBgColor, 10%) 1px;
        .laporanTitle{
            color : $activeBlue;
            width: 356px;
            height: 108px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            padding:24px 24px 0 24px;
            margin: 0 0 24px 0;
        }
        .formProject{
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            width: 356px;
            height: 176px;
            padding: 24px;
            margin: 0 0 24px 0;
            .form-control{
                margin: 0 0 16px 0;
                option{
                    padding: 0 0 0 24px;
                }
            }
            .selectProject{
                position: relative;
                transform:translate(-50%, 0);
                left: 95%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
            h6{
                color: darken($primaryBgColor,10%);
            }
        }
        .addPrj{
          //  background-color: $white;
            border-radius: 5px;
           // box-shadow: 0px 0px 5px 0px $gray;
            width: 356px;
            height: 76px;
            margin: 24px 0 0 0;
            padding: 24px;
            .ctaBtn{
                width: 100%;
                color: $white;
                border-radius: 50px;
                border: solid $activeBlue 1px;
            
            }
        }
        .submitLaporan{
            width: 100%;
            height: 35px;
            margin: 50px 0 0 0;
            border-radius: 50px;
            background: $sucess;
            color:white;
            border: solid $sucess 1px;
        }
        .deactive{
            background: $gray;
            border: solid darken($gray, 10%) 1px;
        }
    }
    .userKonten{
        float:left;
        margin: 0 0 0 30px;
        width: 65%;
        
        .userKontenHeader{
            width: 100%;
            float: left;
            margin: 32px 16px 32px 0;
        }
        .projectInfo{
            float: left;
            h6{
                color: $gray;
            }
        }
        .delPrj{
            text-align: right;
        }
        .formProject{
            float:left;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px $gray;
            margin: 0 32px 32px 0;
            width: 366px;
            height: 298px;
            padding: 24px;
            .progressName{
                width: 100%;
                height: 40px;
                resize: none;
                padding: 7px 10px 0 10px;
                margin:0 0 12px 0;
                border-radius: 5px;
                border: solid $gray 1px;
            }
            .progressInfo{
                @extend .progressName;
                height: 96px;
            }
            .progressText{
                margin: 0 0 0 10px;
                font-size: 14px;
            }
            .progressSlider{
                width: 100%;
                margin: 20px 0 0 0;
                .slider{
                    width: 70%;
                    float: left;
                    margin: 0 15px 0 0;
                }
                .range{
                    text-align: center;
                    margin: -10px 0 0 0;
                    float: right;
                    height: 40px;
                    width: 60px;
                    border-radius: 5px;
                }
            }
        }
        .tambahLaporan{
            float:left;
            border-radius: 5px;
            border: dashed $gray 1px;
            width: 366px;
            height: 76px;
            padding: 24px 29px 24px 29px;
            .ctaBtn{
                width: 100%;
                background: transparent;
                border: solid $activeBlue 1px;
                color: $activeBlue;
            }
        }

        .simpanLaporan{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 90vh;
            left: 90%;
            .buttonSimpan{
                border-radius: 50px;
                width: 150px;
                height: 50px;
                background-color: $sucess;
                color: $white;
                font-weight: bold;
                border: none;
            }
        }
    }
}