<app-header></app-header>
<section id="userDetailpage">
    <div class="userMenu">
        <div class="laporanTitle">
            <h4><b>Laporan</b></h4>
            <h6>{{currentDate | date: 'EEEE , dd MMMM yyyy'}}</h6>
        </div>
        <div >
            <form  *ngFor="let data of tempFinal.objectLaporan" class="formProject">
                <div>
                    <select class="form-control" (change)="changeProjectName($event, data.id)">
                        <option hidden selected>Project Apa Yang Anda Kerjakan ?</option>
                        <option *ngFor="let project of allProject" value="{{project.projectname}}" >{{project.projectname}}</option>
                    </select>
                    <select class="form-control" (change)="changeRoleName($event, data.id)">
                        <option hidden selected>Kamu jadi apa di project ini ?</option>
                        <option *ngFor="let role of allRole" value="{{role.rolename}}">{{role.rolename}}</option>    
                    </select>
                </div>
                <!-- <div *ngIf="statusCount">
                <h6  *ngIf="statusCount.taskCount == 0">Kamu Belum Melakukan Apa-apa</h6>
                <h6  *ngIf="statusCount.taskCount > 0">Kamu Sudah Melakukan {{statusCount.taskCount}} Pekerjaan</h6> -->
                <!-- </div> -->
                <button (click)="test(data.id)" class="selectProject"></button>
            </form>
            <div class="addPrj">
                <button (click)="addProject()"class="ctaBtn"> + Ada project lainnya lagi nih</button>
            </div>
        </div>
            <button class="submitLaporan deactive" *ngIf="!projectName || !roleName"><b>Kumpul Laporan</b></button>
            <button (click)="submitLaporan()" class="submitLaporan" *ngIf="projectName && roleName"><b>Kumpul Laporan</b></button>
    </div>
    <div *ngIf="projectName && roleName" class="userKonten">
        <div class="userKontenHeader">
            <div class="projectInfo">
                <h5>{{projectName}}</h5>
                <h6>{{roleName}}</h6>
            </div>
        </div>
        <div *ngFor="let o of tempFinal.objectLaporan[loadedData].objectTasks" class="formProject">
            <form> 
                <textarea placeholder="Progress Name" (change)="addNama(loadedData, o.id, $event)" class="progressName">{{o.taskName}}</textarea>
                <textarea placeholder="Progress Description" (change)="addDescription(loadedData, o.id , $event)" class="progressInfo" >{{o.taskDescription}}</textarea>
                <input name="progress" type="checkbox" [(ngModel)]="o.sliderStatus"> <span class="progressText">Ada Progress ?</span>
                <div *ngIf="o.sliderStatus" class="progressSlider">
                <input class="slider" type="range" min="0%" max="100%" value="{{o.progressTask}}" (change)="addProgress(loadedData, o.id , $event)">
                <input class="range" type="text" value="{{o.progressTask}}" (change)="addProgress(loadedData, o.id , $event)">
            </div>
            </form>
        </div>
        <div class="tambahLaporan">
            <button (click)="addLaporan()" class="ctaBtn">+ Ada Pekerjaan Lainnya</button>
        </div>
    </div>
</section>
